<!-- TEMPORARY PLACEHOLDER -->
<button id="logout-button">Logout</button>
<%= current_rentee.email %>
<br><br>

<!-- TOP PROFILE -->
<div class="row">
  <!-- PICTURE  -->
  <div class= "col-xs-3">
    <img src="https://d1iu1mag0u723c.cloudfront.net/assets/no-avatar-25359d55aa3c93ab3466622fd2ce712d.jpg" width="200" height="200" class="circle">
  </div>
  <!-- PROFILE INFORMATION -->
  <div class= "col-xs-6">
    <h1>Rentee Name </h1>
    <h3> Rentee Location </h3>
  </div>
  <!-- CONTACT INFORMATION -->
  <div class= "col-xs-3 pull-right">
    <h3> Rentee Contact </h3>
  </div>
</div>
<hr>

<!-- BOTTOM CONTENT -->
<div class="row">

  <!-- SIDEBAR -->
  <div class= "col-xs-3">
    <nav class="navbar navbar-default" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
          <li>
              <a class="to-upload-picture">Upload Picture</a>
              <%= render 'statics/rentee/rentee_upload_pic' %>
          </li>
          <li>
              <a class="to-rentee-settings">Settings</a>
          </li>
          <li>
              <a class="to-rentee-gallery">Show Gallery</a>
          </li>
      </ul>
    </nav>
  </div>
  <!-- END OF SIDEBAR -->

  <!-- PAGE CONTENT -->
  <div class= "col-xs-9">
    <%= render 'statics/rentee/rentee_gallery' %>
    <%= render 'statics/rentee/rentee_reservation' %>
    <%= render 'statics/rentee/rentee_settings' %>

  </div>

</div>






