<!DOCTYPE html>
<html>
<head>
  <title>art rental</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'https://hayageek.github.io/jQuery-Upload-File/4.0.10/uploadfile.css' %>
  <%= javascript_include_tag 'https://hayageek.github.io/jQuery-Upload-File/4.0.10/jquery.uploadfile.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

  <%= render "partials/header" %>

  <%= yield %>

</body>
</html>